@font-face {
    font-family: 'PressStart';
    src: url('fonts/PressStart/pressstart2p-webfont.woff2') format('woff2'),
    url('fonts/PressStart/pressstart2p-webfont.woff') format('woff'),
    url('fonts/PressStart/PressStart2P.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}